/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* MAIN NAVBAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: white;
}

.topnav {
    list-style: none;
}

.topnav li, .topnav a {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.topnav li {
    display: inline-block;
    padding: 0px 20px;
}

.topnav li a {
    transition: all 0.3s ease 0s;
}

.topnav li a:hover {
    color: blueviolet;
}

/* MAIN CONTAINER */

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
}

.container .sidebar-a p {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
}

.container .sidebar-a .results {
    padding-top: 1px;
}

.container .main-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
}

.container-product .product-image img {
    max-width: 240px;
    max-height: 240px;
}

.container-product .product-name {
    font-family: 'Muli', sans-serif;
    font-weight: 560;
    font-size: 16px;
    color: black;
}

.container-product .product-price {
    font-family: 'Muli', sans-serif;
    font-weight: 570;
    font-size: 18px;
    color: black;
}