/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* MAIN NAVBAR */

/*header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: white;
    -webkit-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    -moz-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
}*/

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    -moz-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    list-style: none;
}

.topnav li, .topnav a {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.topnav ul li {
    display: inline-block;
    position: relative;
    padding: 0px 30px;
    line-height: 40px;
}

.topnav li a {
    transition: all 0.3s ease 0s;
}

.topnav li a:hover {
    color: blueviolet;
}

.topnav ul li ul {
    display: none;
    position: absolute;
    overflow: visible;
    padding: 10px;
    background-color: white;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    opacity: 0.8;
    border-bottom: 1px solid rgba(138,43,226,0.17);
    border-radius: 8px;
    -webkit-box-shadow: 0px 8px 18px -18px rgba(138,43,226,0.53);
    -moz-box-shadow: 0px 8px 18px -18px rgba(138,43,226,0.53);
    box-shadow: 0px 8px 18px -18px rgba(138,43,226,0.53);
}

.topnav ul li:hover ul {
    display: block;
}

.topnav .topnav-welcome {
    border-bottom: 1px solid rgba(138,43,226,0.17);
}

.topnav ul li ul li a, .topnav .topnav-welcome {
    padding: 8px 14px;
}

.topnav ul li ul li a, .topnav ul li ul li {
    font-size: 14px;
}

/* PAGINATION */

.pagination {
    display: inline-block;
    grid-area: p;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pagination a {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.pagination a.active {
    color: rgba(66, 17, 112, 0.30);
    background-color: rgba(243, 230, 255, 0.17);
    border-bottom: 1px solid rgba(138,43,226,0.17);
    border-top: 1px solid rgba(138,43,226,0.17);
    border-radius: 8px;
}

.pagination a:hover:not(.active) {
    border-bottom: 1px solid rgba(138,43,226,0.17);
    border-top: 1px solid rgba(138,43,226,0.17);
    border-radius: 8px;
}

/* MAIN CONTAINER */

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    grid-template-areas:
        "s-a m-p m-p m-p"
        "s-a m-p m-p m-p"
        "s-a m-p m-p m-p"
        "s-a m-p m-p m-p"
        "s-a m-p m-p m-p"
        "s-a m-p m-p m-p"
        "s-a p p p";
}

.container .sidebar-a {
    grid-area: s-a;
}

.container .sidebar-a p {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
}

.container .sidebar-a a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.container .sidebar-a a:hover {
    color: blueviolet;
}

.container .sidebar-a .results {
    padding-top: 1px;
}

.container .main-product {
    display: grid;
    grid-area: m-p;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 338px);
    grid-row-end: auto;
    border-left: 1px solid rgba(138,43,226,0.17);
}

.main-product .container-product {
    min-height: 300px;
    max-height: 300px;
    padding-top: 24px;
    padding-left: 20px;
    overflow: hidden;
}

.container-product .product-image img {
    max-width: 240px;
    max-height: 240px;
}

.container-product .product-name {
    font-family: 'Muli', sans-serif;
    font-weight: 560;
    font-size: 16px;
    color: black;
}

.container-product .product-price {
    font-family: 'Muli', sans-serif;
    font-weight: 570;
    font-size: 18px;
    color: black;
}

/* ARTISTS */

#templateArtists.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "s-a m-a m-a m-a"
        "s-a m-a m-a m-a"
        "s-a m-a m-a m-a"
        "s-a m-a m-a m-a"
        "s-a m-a m-a m-a"
        "s-a m-a m-a m-a"
        "s-a p p p";
}

#templateArtists.container .main-artists {
    display: grid;
    grid-area: m-a;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 338px);
    grid-row-end: auto;
    border-left: 1px solid rgba(138,43,226,0.17);
}

.main-artists .container-artist {
    min-height: 334px;
    max-height: 334px;
    overflow: hidden;
}

.container-artist .artist-image {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 300px;
    margin: 25px;
}

.container-artist .artist-image img {
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
    vertical-align: middle;
    max-width: 320px;
    max-height: 240px;
}

.container-artist .artist-name {
    font-family: 'Muli', sans-serif;
    font-weight: 560;
    font-size: 16px;
    color: black;
    text-align: center;
}

/* SIGN IN */

form.sign-in-form {
    background-color: rgba(148, 130, 165, 0.17);
}

fieldset.sign-in-card {
    width: 500px;
    height: 620px;
    background-color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.sign-in-card div {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: black;
}

.sign-in-card .sign-in-title,
.sign-in-card .sign-in-submit,
.sign-in-card .sign-in-options,
.sign-in-card .seller-sign-in-option,
.sign-in-card .registration-option {
    text-align: center;
}

.sign-in-card label, .sign-in-card input {
    /*display: block;*/
    vertical-align: middle;
}

.sign-in-title h2, .registration-option h2 {
    font-weight: 300;
}

.sign-in-email, .sign-in-pass {
    /*width: 100%;*/
    height: 62.2px;
    margin: 15px 15px;
}

.sign-in-email label, .sign-in-pass label {
    font-size: 13px;
}

.sign-in-email .user-email, .sign-in-pass .user-pass {
    width: 458px;
    height: 40px;
    padding: 0 10px;
    margin: 5px 0;
}

.sign-in-email input, .sign-in-pass input {
    border: none;
    background-color: rgba(148, 130, 165, 0.17);
}

.sign-in-email input:focus, .sign-in-pass input:focus {
    background-color: white;
}

.sign-in-card .sign-in-cookies,
.sign-in-card .email-error,
.sign-in-card .pass-error,
.sign-in-card .system-error {
    width: 470px;
    margin-right: auto;
    margin-left: auto;
}

.sign-in-cookies p {
    font-size: 10px;
    font-weight: 300;
}

.sign-in-card .system-error p,
.sign-in-card .email-error p,
.sign-in-card .pass-error p {
    font-size: 12px;
    font-weight: 300;
    color: red;
}

.sign-in-submit {
    width: 100%;
    height: 62.2px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.sign-in-submit input {
    background-color: white;
    color: black;
    border: none;
    /*padding: 10px 20px;*/
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.sign-in-submit input:hover, .registration-option a:hover {
    color: rgb(94, 94, 94);
    font-weight: 300;
    font-size: 15px;
    border-bottom: 1px solid rgba(138,43,226,0.17);
    border-top: 1px solid rgba(138,43,226,0.17);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.sign-in-submit .sign-in-button {
    width: 482px;
    height: 45px;
}

.sign-in-card .sign-in-options {
    width: 147px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(138,43,226,0.17);
}

.sign-in-card .seller-sign-in-option {
    padding-bottom: 10px;
}

.sign-in-options p, .sign-in-options a,
.seller-sign-in-option p, .seller-sign-in-option a {
    font-size: 12px;
}

.sign-in-options a, .seller-sign-in-option a {
    text-decoration: none;
    color: blueviolet;
}

.sign-in-card .registration-option {
    border-top: 1px solid rgba(138,43,226,0.17);
    padding-top: 5px;
}

.registration-option .register-button {
    display: block;
    color: black;
    background-color: white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    width: 470px;
    height: 35px;
    line-height: 35px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

/* FORGOT PASSWORD PAGE */

#forgotPassCard {
    background-color: rgba(148, 130, 165, 0.17);
}

#forgotPassCard .forgot-pass-card {
    width: 500px;
    height: 580px;
    background-color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.forgot-pass-card div {
    font-family: 'Muli', sans-serif;
    color: black;
}

.forgot-pass-card .forgot-pass-title,
.forgot-pass-card .forgot-pass-info,
.forgot-pass-card .forgot-email-submit {
    text-align: center;
}

.forgot-pass-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.forgot-pass-title h2 {
    font-size: 17px;
    font-weight: 300;
}

.forgot-pass-info p {
    font-size: 12px;
    font-weight: 300;
}

#forgotPassCard .forgot-email-input {
    height: 62.2px;
    margin: 15px 15px;
}

.forgot-email-input label, .forgot-email-input input {
    font-size: 13px;
    font-weight: 300;
}

#forgotPassCard .user-email--forgot {
    width: 458px;
    height: 40px;
    padding: 0 10px;
    margin: 5px 0;
}

.forgot-email-input input {
    border: none;
    background-color: rgba(148, 130, 165, 0.17);
}

.forgot-email-input input:focus {
    background-color: white;
}

.forgot-email-submit {
    width: 100%;
    height: 62.2px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.forgot-email-submit input {
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.forgot-email-submit input:hover {
    color: rgb(94, 94, 94);
    font-weight: 300;
    font-size: 15px;
    border-bottom: 1px solid rgba(138,43,226,0.17);
    border-top: 1px solid rgba(138,43,226,0.17);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.forgot-email-submit .forgot-pass-button {
    width: 482px;
    height: 45px;
}

.forgot-pass-error {
    width: 470px;
    margin-right: auto;
    margin-left: auto;
}

.forgot-pass-error p {
    font-size: 12px;
    font-weight: 300;
    color: red;
}