/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* MAIN NAVBAR */

/*header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: white;
    -webkit-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    -moz-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
}*/

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    -moz-box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    box-shadow: 0px 3px 17px -17px rgba(138,43,226,0.7);
    list-style: none;
}

.topnav li, .topnav a {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.topnav ul li {
    display: inline-block;
    position: relative;
    padding: 0px 30px;
    line-height: 40px;
}

.topnav li a {
    transition: all 0.3s ease 0s;
}

.topnav li a:hover {
    color: blueviolet;
}

.topnav ul li ul {
    display: none;
    position: absolute;
    z-index: 1;
    overflow: visible;
    padding: 10px;
    background-color: white;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    opacity: 0.8;
    border-bottom: 1px solid rgba(138,43,226,0.17);
    border-radius: 8px;
}

.topnav ul li:hover ul {
    display: block;
}

.topnav .topnav-welcome {
    border-bottom: 1px solid blueviolet;
}

.topnav ul li ul li a, .topnav .topnav-welcome {
    padding: 8px 14px;
}

.topnav ul li ul li a, .topnav ul li ul li {
    font-size: 14px;
}

/* MAIN CONTAINER */

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
}

.container .sidebar-a p {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
}

.container .sidebar-a .results {
    padding-top: 1px;
}

.container .main-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: 1px solid rgba(138,43,226,0.17);
}

.main-product .container-product {
    padding-top: 12px;
    padding-left: 12px;
}

.container-product .product-image img {
    max-width: 240px;
    max-height: 240px;
}

.container-product .product-name {
    font-family: 'Muli', sans-serif;
    font-weight: 560;
    font-size: 16px;
    color: black;
}

.container-product .product-price {
    font-family: 'Muli', sans-serif;
    font-weight: 570;
    font-size: 18px;
    color: black;
}