/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* BODY */

body {
    background-color: #003366;
    margin: 0;
}

/* MAIN NAVBAR */

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    -webkit-box-shadow: 0px 3px 17px -11px rgba(138,43,226,0.7);
    -moz-box-shadow: 0px 3px 17px -11px rgba(138,43,226,0.7);
    box-shadow: 0px 3px 17px -11px rgba(138,43,226,0.7);
    list-style: none;
}

.topnav .topnav-logo {
    padding-left: 30px;
    padding-right: 30px;
}

.topnav li, .topnav a {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.topnav ul li {
    display: inline-block;
    position: relative;
    padding: 0px 30px;
    line-height: 40px;
}

.topnav li a {
    transition: all 0.3s ease 0s;
}

.topnav li a:hover {
    color: rgba(138,43,226,0.7);
}

.topnav ul.middle-section li ul, .topnav .suppliers-options ul li ul {
    display: none;
    position: absolute;
    overflow: visible;
    padding: 10px;
    /*width: 470px;*/
    background-color: #003366;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    opacity: 0.8;
    border-bottom: 1px solid rgba(138,43,226,0.7);
    border-radius: 8px;
}

.topnav ul.middle-section li ul {
    width: 470px;
}

.topnav .suppliers-options ul li ul {
    width: 200px
}

.topnav ul li:hover ul {
    display: block;
}

.topnav ul li ul li a {
    font-size: 13px;
    padding: 8px 12px;
}

/* SIGN IN */

form.supplier-sign-in-form {
    background-color: lightslategrey;
}

.supplier-sign-in-form .sign-in-card {
    width: 500px;
    height: 620px;
    background-color: #003366;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.sign-in-card div {
    font-family: 'Muli', sans-serif;
    color: white;
}

.sign-in-card .sign-in-title,
.sign-in-card .sign-in-submit,
.sign-in-card .sign-in-option,
.sign-in-card .customer-sign-in-option,
.sign-in-card .registration-option {
    text-align: center;
}

.sign-in-card label, .sign-in-card input {
    vertical-align: middle;
}

.sign-in-title h2, .registration-option h2 {
    font-size: 17px;
    font-weight: 300;
}

.sign-in-email, .sign-in-pass {
    height: 62.2px;
    margin: 15px 15px;
}

.sign-in-email label, .sign-in-email input,
.sign-in-pass label, .sign-in-pass input {
    font-size: 13px;
    font-weight: 300;
}

.sign-in-email .supplier-email, .sign-in-pass .supplier-pass {
    width: 458px;
    height: 40px;
    padding: 0 10px;
    margin: 5px 0;
}

.sign-in-email input, .sign-in-pass input {
    border: none;
    background-color: lightslategrey;
}

.sign-in-email input:focus, .sign-in-pass input:focus {
    background-color: white;
}

.sign-in-card .sign-in-cookies,
.sign-in-card .email-error,
.sign-in-card .pass-error,
.sign-in-card .system-error {
    width: 470px;
    margin-right: auto;
    margin-left: auto;
}

.sign-in-cookies p {
    font-size: 10px;
    font-weight: 300;
}

.sign-in-card .system-error p,
.sign-in-card .email-error p,
.sign-in-card .pass-error p {
    font-size: 12px;
    font-weight: 300;
    color: red;
}

.sign-in-submit {
    width: 100%;
    height: 62.2px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.sign-in-submit input {
    background-color: #003366;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.sign-in-submit input:hover, .registration-option a:hover {
    color: rgba(243, 231, 255, 0.91);
    background-color: rgba(138,43,226,0.03);
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid rgba(138,43,226,0.37);
    border-top: 1px solid rgba(138,43,226,0.37);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.sign-in-submit .sign-in-button {
    width: 482px;
    height: 45px;
}

.sign-in-card .sign-in-option {
    width: 147px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(138,43,226,0.37);
}

.sign-in-card .customer-sign-in-option {
    padding-bottom: 10px;
}

.sign-in-option p, .sign-in-option a,
.customer-sign-in-option p, .customer-sign-in-option a {
    font-size: 12px;
    font-weight: 300;
}

.sign-in-option a, .customer-sign-in-option a {
    text-decoration: none;
    color: blueviolet;
}

.sign-in-card .registration-option {
    border-top: 1px solid rgba(138,43,226,0.37);
    padding-top: 5px;
}

.registration-option .register-button {
    display: block;
    color: white;
    background-color: #003366;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    width: 470px;
    height: 35px;
    line-height: 35px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

/* FORGOT PASSWORD PAGE */

form#supplierForgotPassCard {
    background-color: lightslategrey;
}

#supplierForgotPassCard .forgot-pass-card {
    width: 500px;
    height: 550px;
    background-color: #003366;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.forgot-pass-card div {
    font-family: 'Muli', sans-serif;
    color: white;
}

.forgot-pass-card .forgot-pass-title,
.forgot-pass-card .forgot-pass-info,
.forgot-pass-card .forgot-email-submit {
    text-align: center;
}

.forgot-pass-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.forgot-pass-title h2 {
    font-size: 17px;
    font-weight: 300;
}

.forgot-pass-info p {
    font-size: 12px;
    font-weight: 300;
}

#supplierForgotPassCard .forgot-email-input {
    height: 62.2px;
    margin: 15px 15px;
}

.forgot-email-input label, .forgot-email-input input {
    font-size: 13px;
    font-weight: 300;
}

#supplierForgotPassCard .supplier-email--forgot {
    width: 458px;
    height: 40px;
    padding: 0 10px;
    margin: 5px 0;
}

.forgot-email-input input {
    border: none;
    background-color: lightslategrey;
}

.forgot-email-input input:focus {
    background-color: white;
}

.forgot-email-submit {
    width: 100%;
    height: 62.2px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.forgot-email-submit input {
    background-color: #003366;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.forgot-email-submit input:hover {
    color: rgba(243, 231, 255, 0.91);
    background-color: rgba(138,43,226,0.03);
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid rgba(138,43,226,0.37);
    border-top: 1px solid rgba(138,43,226,0.37);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.forgot-email-submit .forgot-pass-button {
    width: 482px;
    height: 45px;
}

.forgot-pass-error, .system-error--forgot-pass {
    width: 470px;
    margin-right: auto;
    margin-left: auto;
}

.forgot-pass-error p, .system-error--forgot-pass p {
    font-size: 12px;
    font-weight: 300;
    color: red;
}

.forgot-pass-success {
    text-align: center;
}

.forgot-pass-success h3 {
    font-family: 'Muli', sans-serif;
    color: #336600;
    font-size: 16px;
    font-weight: 300;
}

/* CHANGE PASSWORD */

form#supplierChangePassCard {
    background-color: lightslategrey;
}

#supplierChangePassCard .change-pass-card {
    width: 500px;
    height: 580px;
    background-color: #003366;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.change-pass-card div {
    font-family: 'Muli', sans-serif;
    color: white;
}

.change-pass-card .change-pass-title,
.change-pass-card .change-pass-info,
.change-pass-card .change-pass-submit {
    text-align: center;
}

.change-pass-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.change-pass-title h2 {
    font-size: 17px;
    font-weight: 300;
}

.change-pass-info p {
    font-size: 12px;
    font-weight: 300;
}

#supplierChangePassCard .change-pass-new-input,
#supplierChangePassCard .change-pass-confirm-input {
    height: 62.2px;
    margin: 15px 15px;
}

.change-pass-new-input label, .change-pass-new-input input,
.change-pass-confirm-input label, .change-pass-confirm-input input {
    font-size: 13px;
    font-weight: 300;
}

#supplierChangePassCard .supplier-pass--change,
#supplierChangePassCard .supplier-pass--confirm {
    width: 458px;
    height: 40px;
    padding: 0 10px;
    margin: 5px 0;
}

.change-pass-new-input input,
.change-pass-confirm-input input {
    border: none;
    background-color: lightslategrey;
}

.change-pass-new-input input:focus,
.change-pass-confirm-input input:focus {
    background-color: white;
}

.change-pass-submit {
    width: 100%;
    height: 62.2px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.change-pass-submit input {
    background-color: #003366;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.change-pass-submit input:hover {
    color: rgba(243, 231, 255, 0.91);
    background-color: rgba(138,43,226,0.03);
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid rgba(138,43,226,0.37);
    border-top: 1px solid rgba(138,43,226,0.37);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.change-pass-submit .change-pass-button {
    width: 482px;
    height: 45px;
}

.change-pass-error, .confirm-pass-error,
.system-error--change-pass {
    width: 470px;
    margin-right: auto;
    margin-left: auto;
}

.change-pass-error p, .confirm-pass-error p,
.system-error--change-pass p {
    font-size: 12px;
    font-weight: 300;
    color: red;
}

.change-pass-success {
    text-align: center;
}

.change-pass-success h3 {
    font-family: 'Muli', sans-serif;
    color: #336600;
    font-size: 16px;
    font-weight: 300;
}

/* REGISTRATION PAGE */

form#registerSupplierCard1 {
    background-color: lightslategrey;
}

#registerSupplierCard1 .register-card--supplier {
    width: 500px;
    height: 650px;
    background-color: #003366;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.register-card--supplier div {
    font-family: 'Muli', sans-serif;
    color: white;
}

.register-card--supplier .supplier-title--register,
.register-card--supplier .register-continue,
.register-card--supplier .register-sign-in-option,
.register-card--supplier .register-user-option {
    text-align: center;
}