/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* BODY */

body {
    background-color: lightslategrey;
}

/* MAIN NAVBAR */

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategrey;
    -webkit-box-shadow: 0px 3px 27px -11px rgba(138,43,226,0.7);
    -moz-box-shadow: 0px 3px 27px -11px rgba(138,43,226,0.7);
    box-shadow: 0px 3px 27px -11px rgba(138,43,226,0.7);
    list-style: none;
}

.topnav li, .topnav a {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.topnav ul li {
    display: inline-block;
    position: relative;
    padding: 0px 30px;
    line-height: 40px;
}

.topnav li a {
    transition: all 0.3s ease 0s;
}

.topnav li a:hover {
    color: rgba(138,43,226,0.7);
}

.topnav ul li ul {
    display: none;
    position: absolute;
    overflow: visible;
    padding: 10px;
    width: 470px;
    background-color: lightslategrey;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    opacity: 0.8;
    border-bottom: 1px solid rgba(138,43,226,0.7);
    border-radius: 8px;
}

.topnav ul li:hover ul {
    display: block;
}

.topnav ul li ul li a {
    font-size: 13px;
    padding: 8px 12px;
}